/Progetti/CalcolatriceGrafica/ProvaSocket/nbproject/private/
/Progetti/CalcolatriceGrafica/ProvaSocket/build/
/Progetti/EserciziVerifica/EserciziRipasso/target/
/Progetti/EserciziRipassoVerifica 10-10-2023/EsericiRipassoVerifica_10102023/target/
/Progetti/Cronometro/target/
/Minesweeper/target/
/Progetti/GiocoDel15/target/
/Progetti/GiocoDel15GUI/target/
/Progetti/CartaConto/target/
/Progetti/CartaConto2/target/
