/Progetti/CalcolatriceGrafica/ProvaSocket/nbproject/private/
/Progetti/CalcolatriceGrafica/ProvaSocket/build/
/Progetti/EserciziVerifica/EserciziRipasso/target/
/Progetti/EserciziRipassoVerifica 10-10-2023/EsericiRipassoVerifica_10102023/target/
/Progetti/Cronometro/target/
